@inherits System.Web.Mvc.WebViewPage<PlaceholderFallback.Models.PlaceholderFallback.FallbackRenderingInfo>
<div class="fallback-rendering">
    <div>Fallback rendering</div>
    <p>This content may not be edited here.</p>
    <p>Content for this placeholder comes from the page(s) '@Model.FallbackLocation'</p>
</div>